#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.table-scroll {
  overflow:auto;
}

#hitsTable td, th {
  max-width: 180px;
  width: 180px;
  overflow: auto;
  text-overflow: ellipsis;
}

.pills {
  list-style-type: none;
  display: inline;
  padding: 0px;
}

.pills li {
  display: inline;
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 3px 5px;
  background: #555555;
  color: #eeeeee;
  margin-right: 3px;
}